/* Container pour la section avec texte et images */
.container {
  display: flex;
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}

/* Container du texte */
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 24px;
  text-align: left;
}

/* Mise en forme du titre */
.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e94f20;
  margin-bottom: 12px;
}

/* Ligne sous le titre */
.titleUnderline {
  width: 100px;
  height: 4px;
  background-color: #e94f20;
  margin: 8px 0 16px;
  border-radius: 2px;
}

/* Mise en forme du texte */
.text {
  color: #333333;
  font-size: 1.125rem;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 16px;
}

/* Grille des images */
.imageGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

/* Image */
.image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.1);
}

/* Section des avis clients */
.reviewsSection {
  margin-top: 50px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reviewsTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #e94f20;
  text-align: center;
}

.reviewsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.reviewCard {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.reviewText {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
  font-style: italic;
}

.clientName {
  text-align: right;
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}

/* Style du bouton "Notre Groupe" */
.groupButton {
  padding: 12px 24px;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: #e94f20;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.groupButton:hover {
  background-color: #d85a17;
  transform: scale(1.05);
}

.groupButton:active {
  transform: scale(1);
  background-color: #c2490f;
}
